<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="../static/index/style.css" />
  <link rel="stylesheet" href="../static/index/style_media.css" />
  <script src="../static/main.js"></script>
  <title>Aayushi Marfatia</title>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,800;1,400&family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div>AAYUSHI MARFATIA</div>
    <nav class="main-nav">
      <button class="nav-toggle" aria-label="Open navigation">&#9776;</button>
      <div class="nav-links">
        <a href="#">About</a>
        <a href="#about-section">Select Works</a>
      </div>
    </nav>
  </header>

  <div class="email">marfatiaaayushi@gmail.com</div>

  <div class="container">
    <div class="left">
      <h1 class="portfolio-title">PORTFOLIO</h1>
      <p class="bio">
        I’m Aayushi—a strategic thinker fueled by empathy, curiosity, and a passion for creating meaningful experiences.
        <br><br>
        Before UX research, I was a lifestyle accessory designer. Now, I’m immersed in human-centered design—researching, creating, testing, and crafting experiences that bridge people and purpose. 
        <br>
        Always evolving. Always exploring.
      </p>
    </div>

    <div class="right">
      <div class="image-overlay-container">
        <img src="../assets/profile.jpeg" alt="Aayushi Marfatia" class="photo" />
      </div>
      <div class="name-title">
        <span>AAYUSHI MARFATIA</span>
        <em>Creative Designer &amp; Strategist</em>
      </div>
    </div>
  </div>
  <!-- end .container -->

  <!-- New Section: About/More Info/Anything -->
  <section class="about-section" id="about-section">
    <h2>Select Works</h2>
    <div class="works-row-overlay-wrapper">
      <div class="works-row-overlay-text">
        MERAKI | SPIRIT OF THE CRAFT </br> 
        MEET ALL | CONNECTING COMMUNITIES </br> 
        VESTA | BE YOUR VEST SELF</br> 
        TRAVELWELL | TOMORROWS ENRICHMENT SERVICE BLUEPRINT</div>
      <div class="works-row">
        <img src="../assets/meraki-front.png" alt="Meraki" class="work-img" />
        <img src="../assets/meetall-front.png" alt="Meet All" class="work-img" />
        <img src="../assets/vesta-front.png" alt="Vesta" class="work-img" />
        <img src="../assets/vougish-front.png" alt="Vougish" class="work-img" />
      </div>
    </div>
  </section>

  <script>

  </script>
</body>
</html>